<!-- step-cero.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Encuesta</title>
</head>
<body>

  <h3 class="text-center">Finalización</h3>
  <form name="encuestaForm" ng-submit="verEncuenta()" class="well" class="well">

    <h1 class="text-center">Gracias por tu colaboración!!!!</h1>
    <h3 class="text-center">Nos da felicidad tu ayuda</h3>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Revisar Encuesta</button>
    </div>

  </form>

</body>
</html>